/*    FONTS    */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
@import url("https://fonts.googleapis.com/css?family=Heebo:100");



/*    RESET    */
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;			
}

ol, ul {
    list-style: none;
}

/*    FORMATTAZIONE TESTO    */
strong {
    color: #a1938a;
}

h1 {
    font-weight: bold;
    letter-spacing: 1pt; 
    font-size: 1.2em;
    font-variant: small-caps;
    font-style: normal;
    font-weight: normal; 
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #d2c9c3;
    font-size: 2.5em;
    margin: 0;
    line-height: normal;
}

h2 strong {
    color: darkred;
}

h3 {
    font-weight: bold;
    font-variant: small-caps;
    color: #a1938a;
    font-size: 1.5em;
    margin: 0;
    line-height: normal;
}

h4 {
    text-align: center;
    color: #9d9391;
    margin: 0;
    font-style: italic;
    font-weight: normal;
    padding: 0;
    font-size: 1em;
}

a {
    color: #9d9391;
    text-decoration: none;
}
a:active {
    color: #9d9391;
    text-decoration: none; 
}
a:visited {
    color: #9d9391;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    line-height: 1;
	-webkit-text-size-adjust: none;
    width: 100%;
    font-family: "Open Sans", Helvetica, sans-serif;
    background-color: #161223;
    color: #dad3cd;
    overflow: auto;   
}

/*    PULSANTI    */
button {
    box-shadow: 0px 0px 2px #000;
    border: 1px solid #908782;
    border-radius: 0px 5px 0px 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    background: none;
    color: #908782;
    padding: 5px;
    text-align: center;
    display: inline-block;
    text-shadow: 0 0 4px #000;
    letter-spacing: 1pt;
}

button:hover {
    box-shadow: 0px 0px 4px #000;
    text-decoration: none;
    color: darkred;
    transition: 0.5s;
    border: 1px solid darkred;
    border-radius: 5px 0px 5px 0px;
    text-decoration: none;
}

/*    TABELLE    */
table {
    display: inline-block;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #333039;
    margin-bottom: 20px;
}

td {
    width: 100px;
    height: 40px;

}
th {
    text-align: center;
    vertical-align: center;
    width: 150px;
    height: 30px;
}

/*    TOOLTIP    */
.tooltip {
    cursor: pointer;
    position: relative;
    display: inline;
}

 .tooltiptext {
    font-weight: normal;
    visibility: hidden;
    opacity: 0.6;
    color: #fff;
    text-align: center;
    font-size: 8pt;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*    HEADER    */
header {
    width: 100%;
    height: 55px;
    position: fixed;
    background: #161223;
    border-bottom: 3px solid #333039;
    box-shadow: 0px 0px 5px #000;
    z-index: 997;
}
header img {
    margin-top: 5px;
    height: 55px;
    width: 55px;
}

/*    ICONA MENU    */
#bar1 {
    position: fixed;
    right: 42px;
    top: 13px;
    z-index: 999;
    cursor: pointer;
    width: 28px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
#bar2 {
    position: fixed;
    right: 42px;
    top: 22px;
    z-index: 999;
    cursor: pointer;
    width: 28px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
#bar3 {
    position: fixed;
    right: 42px;
    top: 31px;
    z-index: 999;
    cursor: pointer;
    width: 28px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

#bar1.barraRuotata {
    position: fixed;
    right: 42px;
    top: 13px;
    z-index: 999;
    cursor: pointer;
    position: fixed;
    width: 28px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    transform: rotate(-45deg) translate(-9px, 6px);    
}
#bar2.barraRuotata {
    opacity: 0;  
}
#bar3.barraRuotata {
    position: fixed;
    right: 42px;
    top: 31px;
    z-index: 999;
    cursor: pointer;
    position: fixed;
    width: 28px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    transform: rotate(45deg) translate(-6px, -4px);
}

/*    MENU    */
.menuAperto {
        background: #161223;
	    color: #fff;
	    height: 100%;
	    width: 240px;
	    position: fixed;
	    z-index: 998;
	    top: 0;
	    right: 0;
	    transition: 0.7s;
        overflow-x: hidden;
	}

.menuAperto li:first-child {
    margin-top: 100px;
}

.menuChiuso {
        background: #161223;
	    color: #fff;
	    height: 100%;
	    width: 0px;
	    position: fixed;
	    z-index: 998;
	    top: 0;
	    right: 0;
	    transition: 0.7s;
        overflow-x: hidden;
	}
.menuChiuso li:first-child {
    margin-top: 100px;
}

/*    NAV    */
nav {
    text-align: center;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    padding-top: 5px;
    letter-spacing: 1pt;
    line-height: 3;
}

nav li a {
    text-decoration: none;
    color: #a0958f; 
}

nav li a:hover {
    color: #463c44;
    transition: 2s;
    text-decoration: overline;
}

/*    ACROBATIC    */
#acrobatic.sfondo1 {
    width: 100%;
    background: url(img/sfondo.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    text-align: center; 
}
#acrobatic.sfondo2 {
    width: 100%;
    background: url(img/sfondo2.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    text-align: center; 
}
#acrobatic img {
    width: auto;
    visibility: visible;
    margin-top: 150px;
    margin-bottom: 25%;
}

/*    INTRODUZIONE    */
#introduzione {
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    width: 70%;
    line-height: 1.5em;
    text-align: center;
    
}
#introduzione div {
    margin: auto;
    border-top: 1px solid #dad3cd;
    border-bottom: 1px solid #dad3cd;
    padding: 25px;
}

/*    PAGINE DISCIPLINE    */
.nascosta {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: left;
    overflow-y: hidden;
    visibility: hidden;
    height: 0;
}

.aperta {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: left;
    height: auto;
}
.aperta img {
    width: 100%;
    
}

.indietro {
    font-size: 2em;
    color: #a1938a;
    cursor: pointer;

}
.avanti {
    font-size: 2em;
    float: right;
    color: #a1938a;
    cursor: pointer;

}
.contenitore {
    margin: auto;
    text-align: center;
    font-size: 9pt;
    margin-top: 30px;
    padding: 30px;
}
.description {
    margin: auto;
    text-align: left;
    height: 85%;
    width: 60%;
    padding-left: 30px;
    padding-bottom: 20px;
    line-height: 2;
    border-left: 3px solid #271f2a;
}
.description h1 {
    font-size: 2em;
}

/*    SFONDI    */
#sfondoPoleDance {
    background: url(img/poledance.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#sfondoAerialSilk {
    background: url(img/aerialsilk.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#sfondoAerialHoop {
    background: url(img/aerialhoop.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#sfondoTrapeze {
    background: url(img/trapeze.jpg) no-repeat center center fixed;
    background-size: cover; 
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.sfondi {
    width: 100%;
    height: 500px;
}
#sfondoScopri {
    background: url(img/scopri.png) no-repeat center center;
    width: 100%;
    margin: 0;
    height: 180px;
}

/*    SCOPRI    */
.scopri {
    margin: auto;
    width: 60%;
    line-height: 1;
}
.scopri h2 {
    font-size: 1.5em;
    font-variant: small-caps;
    margin: 0;
    padding: 0;
}

.scopri div {
    cursor: pointer;
    font-size: 1.5em;
}
.nonCliccato {
    color: #dad3cd;
}
.cliccato {
    color: darkred;
}

#risultato {
    padding-top: 30px;
    font-size: 1em;
    text-align: left;
    border-left: none;

}
#risultato img {
    height: 230px;
    float: left;
    padding-right: 20px;
    padding-bottom: 30px;

}
#risultato h2 {
    font-size: 2em;
    padding-bottom: 20px;
    text-shadow: 0px 0px 3px #000;
}

#refresh.nascosto {
    visibility: hidden;
    transition: 0s;
}
#refresh.visibile {
    visibility: visible;
}

/*    FOOTER    */
footer {
    clear: left;
    color: #424242;
    width: 100%;
    font-size: 12px;
    text-align: center;
    background-color: #dad3cd;
    border-top: 3px solid #333039;
    line-height: 1.65em;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer div {
    margin: auto;
    width: 40%;
    text-align: left;
    display: inline-table;
    padding: 10px;   
}
.chiSono > img {
    height: 150px;
    width: 150px;
    float: left;
    padding: 20px;
}

footer h2 {
    margin: 0px;
    font-variant: small-caps;
    color: #fff;
    text-shadow: 0px 0px 3px #b3b3b3;
    font-size: 1.3em;
}

/*    PER ALTRI DISPOSITIVI    */
@media screen and (max-width: 2000px) {
    
    #acrobatic.sfondo1 {
        background: url(img/sfondomobile.jpg) no-repeat center center fixed;
        
        height: 100px;
    }
    #acrobatic.sfondo2 {
        height: 100px;
       
    }
    #acrobatic img {
        height: 60%;
        margin-top: 100px;
    }
    #introduzione h1 {
        font-size: 0.8em;
    }
    .description {
        width: 90%;
    }
    .sfondi {
    width: 100%;
    height: 100px;
    }
    #sfondoPoleDance {
        background: url(img/poledance.jpg) no-repeat center center;
        width: 100%;
    }
    #sfondoAerialSilk {
        background: url(img/aerialsilk.png) no-repeat center center;
        width: 100%;
        background-size: cover;
    }
    #sfondoAerialHoop {
        background: url(img/aerialhoop.png) no-repeat center center;
        width: 100%;
        background-size: cover;
    }
    #sfondoTrapeze {
        background: url(img/trapeze.jpg) no-repeat center center;
        width: 100%;
        background-size: cover;
    }
    .scopri {
        width: 90%;
    }
    .scopri h1 {
        font-size: 1.2em;
    }
    footer div {
        display: block;
        margin: auto;
        width: 70%;
    }
    #scendi {
        visibility: hidden;
    }
    .menuAperto li:first-child {
        margin-top: 40px;
    }
    nav li {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    padding-top: 5px;
    letter-spacing: 1pt;
    line-height: 2;
    }
}

